<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Mushroom Classification(e/p)</title>
  </head>
  <body>
    <header>
        <div class="header_content">
<!--            'Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',-->
<!--       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'-->
            <h1> Sales Data Prediction </h1>
            <h3> The goal of the project is to predict Item_Outlet_Sales.</h3>

            <h2>Enter Values</h2>
           <form action="{{ url_for('predict')}}"method="post">

               <div>

            <input type="number" step="any" name="Item_Weight" placeholder="Item_Weight" required="required" />
            </div>
            
            <div>
            
            <label for="Item_Fat_Content">Choose your Item_Fat_Contents from the list:</label>
            <input list="Item_Fat_Contents" name="cap-surface" id="Item_Fat_Content">

            <datalist id="Item_Fat_Contents">
            <option value=Low Fat>
            <option value=Regular>
            </datalist>
            
           </div>
           <div>
               <input type="number" id="Item_Visibility" name="Item_Visibility"  placeholder="Item_Weight" required="required">

            </div>
            
            <div>
       

    
        <label for="Item_Type">Choose your Item_Type from the list:</label>
            <input list="Item_Types" name="Item_Type" id="Item_Type" placeholder="Item_Weight" required="required">
            <datalist id="Item_Types">
                <option value=Fruits and Vegetables>
            <option value=Snack Foods>
            <option value=Household>
                <option value=Frozen Foods>
                <option value=Dairy>
                <option value=Canned>
                <option value=Baking Goods>
                <option value=Health and Hygiene>
                <option value=Soft Drinks>
                <option value=Meat>
                <option value=Breads>
                <option value=Hard Drinks >
                <option value=Others>
                <option value=Starchy Foods>
                <option value=Breakfast>
                <option value=Seafood>
            </datalist>

            </div>
            
            <div>
                <input type="number" step="any" name="Item_MRP" placeholder="Item_MRP" required="required" />
            </div>
            
            <div>
            <label for="Outlet_Identifier">Choose your Outlet_Identifier from the list:</label>
            <input list="Outlet_Identifiers" name="Outlet_Identifier" id="Outlet_Identifier">
            <datalist id="Outlet_Identifiers">

                <option value=OUT010>
                <option value=OUT013>
                <option value=OUT017>
                <option value=OUT018>
                <option value=OUT019>
                <option value=OUT027>
                <option value=OUT035>
                <option value=OUT045>
                <option value=OUT046>
                <option value=OUT049>

            </datalist>
            </div>
            
            <div>
            <label for="Outlet_Establishment_Year">Choose your Outlet_Establishment_Year from the list:</label>
            <input list="Outlet_Establishment_Year" name="Outlet_Establishment_Year" id="Outlet_Establishment_Year">
            <datalist id="Outlet_Establishment_Year">
                <option value=1985>
                <option value=1987>
                <option value=2009>
                <option value=1997>
                <option value=1998>
                <option value=1999>
                <option value=2002>
                <option value=2004>
                <option value=2007>
            </datalist>
            </div>

               <div>
            

   
                <label for="Outlet_Size">Choose your Outlet_Size from the list:</label>
                <input list="Outlet_Sizes" name="Outlet_Size" id="Outlet_Size">
                <datalist id="Outlet_Size">
                    <option value=Small>
                    <option value=Medium>
                    <option value=High>
                </datalist>
            </div>
            
            <div>
            

        
            <label for="Outlet_Location_Type">Choose your Outlet_Location_Type from the list:</label>
            <input list="Outlet_Location_Types" name="Outlet_Location_Type" id="Outlet_Location_Type">
            <datalist id="Outlet_Location_Types">
            <option value=Tier 1>
                <option value=Tier 2>
            <option value=Tier 3>
            </datalist>
            </div>
            
            <div>
            

       
                <label for="Outlet_Type">Choose your Outlet_Type from the list:</label>
            <input list="Outlet_Types" name="Outlet_Type" id="Outlet_Type">

            <datalist id="Outlet_Types">
            <option value=Supermarket Type1>
            <option value=Supermarket Type2>
            <option value=Supermarket Type3>
            <option value=Grocery Store>

            </datalist>
            </div>
            

     <div class="b">
             <button type="submit" class="btn btn-primary btn-block btn-large"><h4>Predict</h4></button>
      </div>
    </form>
  
   
    <div>
    <br>
    <br>
    <h2>
     {{ prediction_text }}
    </h2>
    </div>




        </div>

    </header>

</body>
</html>